.instructions {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10px;
  top: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 10rem;
  z-index: 300;
  font-size: 0.75rem;
  font-weight: 700;
  //   background-color: white;
}
